img {
  
    width: 250px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }


body {
    text-align-last: center;
    background: #000;
    margin: 8px 95px 50px 95px;
}
.card-body{
  background-color: #E3DFDF;
}
.media-body {
  color: rgba(221, 208, 208, 0.815);
}
.mt-0 {
  color: rgb(214, 186, 62);
}
.cont-margin {
  margin-top: 4em;
}
.btn-group{
  width: 600px;
}
.rounded-sm {
  width: 40px;
  height: 50px;
  margin-left: -1100px;
 
}

