img {
  
    width: 50px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }


body {
    text-align-last: center;
<<<<<<< HEAD
    background: #000;
    margin: 8px 60px 50px 60px;
=======
    background: darkblue;
>>>>>>> 3464e77ba0e8e8c408919e23c874dd8439491c6c
}